<section class="parallax">
	<a href="{{ site.link }}/incometax">
		<div id="aniversario" class="img-hero">
			<div class="titulo">
				<h2>Income tax</h2>
				<p>enter</p>
			</div>
			<span>Income tax of Bangladesh</span>

		</div>
	</a>
</section>
<section class="parallax">
	<a href="{{ site.link }}/companylaw">
		<div id="casamento" class="img-hero">
			<div class="titulo">
				<h2>companylaw</h2>
				<p>enter</p>
			</div>
		</div>
	</a>
</section>
<section class="parallax">
	<a href="{{ site.link }}/others">
		<div id="infantil" class="img-hero">
			<div class="titulo">
				<h2>others</h2>
				<p>enter</p>
			</div>

		</div>
	</a>
</section>

