<section class="parallax">
	<a href="{{ site.link }}/incometax">
		<div id="incometax" class="img-hero">
			<div class="titulo">
				<h2>Income tax</h2>
				<p>enter</p>
			</div>
		</div>
	</a>
</section>
<section class="parallax">
	<a href="{{ site.link }}/companylaw">
		<div id="companylaw" class="img-hero">
			<div class="titulo">
				<h2>company law</h2>
				<p>enter</p>
			</div>
		</div>
	</a>
</section>
<section class="parallax">
	<a href="{{ site.link }}/others">
		<div id="others" class="img-hero">
			<div class="titulo">
				<h2>others</h2>
				<p>enter</p>
			</div>

		</div>
	</a>
</section>

