<footer class="site-footer">
	<p>© 2018 – Video Site, Hassan and Associates, 154/4, West Rampura, WAPDA Road, Dhaka-1219, Bangladesh.</p>
      <ul>
        <li><a href="https://www.facebook.com/taxadvisorsbd/"><i class="ion-social-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/upodesta/" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <li><a href="https://vimeo.com/taxadvisor"><i class="ion-social-vimeo"></i></a></li>
        <li><a href="mailto:upodesta@gmail.com"><i class="ion-email"></i></a></li>
      </ul>

</footer>
